<% provide(:title, "Forgot Your Password?") %>

<% if signed_in? %>

  <% flash[:error] = "You are already signed in!" %>

<% else %>

  <div class="center hero-unit">
  <h1>Reset Password</h1>
  <h3>It's ok, it happens to all of us</h3> 
  </div>

  <div class="row">
    <div class="span6 offset3">
      <%= form_tag password_resets_path, :method => :post do %>
        <div class="field" %>
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div>
          <%= submit_tag "Reset Password", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
