<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">

      <%= render 'shared/user_info' %>

      <%= render 'shared/host_event' %>

    <% if current_user.admin? %>  
      <%= render 'shared/stats' %>
    <% end %>
  
  </aside>
 
  <div class="span8">
  
    <%= render 'shared/user_events' %>
  
  </div>
</div>
