<% if host?(@event) %>
  <section>
    <%= link_to "Invite Your Friends!", event_uploaders_path(@event), class: "btn btn-block btn-large btn-success" %>
  </section>
<% end %>

<% if current_user.reverse_invitations.find_by_event_id(params[:event_id]) || current_user.reverse_invitations.find_by_event_id(params[:id]) || host?(@event) %>
  <section>
    <%= link_to "Upload Pictures", new_event_picture_path(@event), class: "btn btn-large btn-primary btn-block" %>
  </section>
  <section>
    <%= link_to "View Pictures", event_path(@event), class: "btn btn-large btn-warning btn-block" %>
  </section>
<% end %>

<section>
  <%= link_to "Other Events", current_user, class: "btn btn-large btn-block" %>
</section>

  <% link_to_function "Back", "history.back()", class: "btn btn-large btn-block" %>

