<li id="<%= event.id %>">
  <span class="content"><b><%= link_to event.title, event %></b></span>
  <span class="content"><%= event.description %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(event.created_at) %> ago.
  </span>
    <% link_to "delete", event, method: :delete, data: { confirm: "Are you sure you want to permanently delete this event?" }, title: event.title %>
</li>
