<h1>About this website:</h1>
<div class="hero-unit">
This website lets you share your photos with other people who attended the camp.
After you sign up, request to join the picture collection, and start sharing!
</div>
