<%= provide(:title, "Privacy Policy" ) %>

<h1>Privacy Policy</h1>

<div class="hero-unit">

<h2>Coming Soon<br><br>
We will not give any of your personal information to 3rd parties.<br>

Use at your own risk!
</h2>
</div>
