<%= provide(:title, "About" ) %>

<h1>What is PhotoChat?</h1>

<div class="hero-unit">

<h2>
PhotoChat is a website that lets you share your photos with your friends <font color="#00afff">the right way.</font>
<br>
</h2>

<br>

<h2>After you sign up...<br></h2><br>

<div class="offset1">
  <ol><h3><font color="black">
    <li>Host an event</li><br>
    <li>Upload pictures</li><br>
    <li>Invite your friends</li><br>
    <li>Start sharing!</li>
  </ol></h3></font>

</div>
</div>
